<!DOCTYPE html>
<html lang="">

<head>
    <title>LightNet VPN Download</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="x5-orientation" content="portrait">
    <meta name="screen-orientation" content="portrait">
    <meta name="orientation" content="portrait">
    <style>
        .dl-group a{
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            text-align:center;
        }
        .wechat-tip-img img{
            width: 100%;
        }
        .wrapper {
            widows: 100%;
            max-width: 480px;
            margin: 0 auto;
        }
 
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-454548768"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-454548768');
    </script>
    <!-- Event snippet for Website traffic conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-454548768/CZfTCLXT_vQBEKC639gB'});
    </script>
  
  
</head>

<body>
    <div id="app" class="wrapper">
        <div v-if="!show">
            <!--van-row v-if="url" type="flex" justify="center" style="position: relative; top: 240px; display: none;">
                <van-col span="24">
                    <div style="text-align: center;">
                        下载 {{url}}
                    </div>
                </van-col>
            </van-row-->
            <van-row type="flex" justify="center" style="position: relative; top: 80px;">
                <van-col span="24">
                    <div class="desc">
                        <h3 style="text-align: center;"><a href="/">光網網絡(LightNet)</a></h3>

                    </div>
                    <div style="text-align: center;margin-top: 40px;" class="dl-group">
                        <b>下載</b>
                        <p><a href="/app/LightNet-release-lastest.exe" >Windows(Windows電腦)</a></p>
                        <p><a href="/app/LightNet-release-lastest.dmg" >MacOS(蘋果電腦)</a></p>
                        <p><a href="/app/LightNet-release-lastest.apk" >Android(Android手機)</a></p>
                        <!--p><a href="https://play.google.com/store/apps/details?id=org.light.net.android.google" >Google Play(Android手機)</a></p-->
                    </div>
                    <div  class="desc">
                        <ol>
                            <li>LightNet VPN採用多層級(1-4台)隨機服務轉發, 有些像洋蔥瀏覽器, 保證了源頭ip的不可追溯性,
                                但是最終的ip是固定的(中轉是動態的), 這樣保證了服務的穩定性, 不會被目標網站判斷為異常連接</li>
                            <li>採用多路復發的技術架構, 好處是不會因為某個中繼ip被gwf牆了之後,造成網絡不可使用, 就算某個ip被牆了, 他會自動實時的使用沒有被牆的ip連接過去</li>
                            <li>新研發的數據傳輸協議, 非開源協議, 新協議具有動態加密傳輸能力, 使gwf無法識別, 因為新協議傳輸的數據是實時動態變化的, 無規律性</li>
                            <li>LightNet 特別適合團隊使用, 因為LightNet具有虛擬的網絡概念, 網絡下面有序列號, 可以由一個成員(通常是leader)來創建一條網絡, 然後創建一批序列號分發給組員使用.</li>
                            <li> 盈利能力
                                a. 通過邀請用戶獲得光幣(1光幣=1美元), 可以用於抵扣費用
                                b. 受邀請用戶充值, 邀請人會獲得 充值金額*%5的分配
                                c. 通過銷售序列號獲得, 用戶自己創建一條網絡, 在網絡下面批量購買序列號(有折扣, 購買越多折扣越大), 通過銷售序列號賺取差價</li>
                        </ol>

                    </div>
                    <ol style="margin-top: 50px">
                        <p>常見問題</p>
                        <li>不能連接翻牆
                            <ol>
                                <li>檢測網絡是否啟用,  首頁>啟用網絡(按鈕是否變綠)</li>
                                <li>檢測系統代理是否設置成功: http,socks代理(主機:127.0.0.1, 端口:1080)</li>
                                <li>window系統如果裝了安全軟件(360衛士等, 如果安裝, 需要先退出, 否則會攔截應用,造成不能翻牆)</li>
                            </ol>
                        </li>
                    </ol>
                </van-col>
            </van-row>

        </div>
        <van-overlay :show="show">
            <van-image class="wechat-tip-img" width="100%" src="./images/weixin-tip.jpg" />
        </van-overlay>

    </div>
    <script src="./js/moment.js"></script>
    <script src="./js/mixpanel.js"></script>
    <script src="./js/analytics.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.10/lib/vant.min.js"></script>
    <script>
        window.analytics && window.analytics.track('page.download', {
            refer: document.referrer||''
        });
        (() => {
            Vue.use(vant);
            let vm = new Vue({
                el: '#app',
                data: {
                    msg: 'aood',
                    show: false
                },
                components: {},
                mounted() {
                    let self = this;
                    let u = this.url;
                    if(/MicroMessenger/ig.test(navigator.userAgent)){
                        self.show = true;
                    }else{
                        //if (!!u) location.href = u;
                        self.show = false;
                    }
                    
                },
                methods: {
                    onDownload() {
                    }
                },
                computed: {
                    url() {
                        let ss = location.search.replace(/^\?\s*/, '').split(/&|&amp;/g);
                        let map = {};
                        ss.forEach((part, i) => {
                            let kv = part.split("=");
                            let key = kv[0].trim();
                            let value = decodeURIComponent((kv[1] || '').trim());
                            map[key] = value;
                        });
                        let url = /^https?:\//.test(map.url) ? map.url : '';
                        return url;
                    }
                }
            });

            function download(content, filename) {
                // 创建隐藏的可下载链接
                var eleLink = document.createElement('a');
                eleLink.download = filename;
                eleLink.style.display = 'none';
                // 字符内容转变成blob地址
                var blob = new Blob([content]);
                eleLink.href = URL.createObjectURL(blob);
                // 触发点击
                document.body.appendChild(eleLink);
                eleLink.click();
                // 然后移除
                document.body.removeChild(eleLink);
            };
        })();


    </script>

</body>

</html>